- if task.finished == false
  .task-list
    .task-title
      = task.title.truncate(13)
    .task-content
      = task.content.truncate(13)
    .task-footer
      = link_to '編集', edit_task_path(task.id)
      .task-complete
        = form_for(task) do |f|
          = f.hidden_field :finished, value: "true"
          = f.submit "完了"
