- if task.finished == false
  %tr.task-list.item{ data: { model_name: task.class.name.underscore, update_url: task_sort_path(task) }}
    %td.task-title
      = task.title.truncate(13)
    %td.task-content
      = task.content.truncate(13)
    %td.task-footer
      = link_to '編集', edit_task_path(task.id)
      %td.task-complete
        = form_for(task) do |f|
          = f.hidden_field :finished, value: "true"
          = f.submit "完了"
