%h1 タスク一覧

.task-list-new
  .task-title
    = @toptask.title.truncate(13)
  .task-content
    = @toptask.content.truncate(13)
  .task-footer
    =link_to '編集', edit_task_path(@toptask.id)
.task-new
  ←New!

= render partial: 'task', collection: @tasks

%br

= link_to 'タスク新規作成', new_task_path

= link_to 'ログアウト', account_session_path(current_user.id), method: :delete if current_user
